body{
	margin: 0;	
	background-color: #F0F0F0;
}
#principal{
	margin-left: 140px;
	margin-right: 140px;
}
#irPrincipal{
	text-decoration: none;
}
#cabeza{
	width: 240px;
	height: 240px;
	background-image: url("img/HNI_0004.jpg");
}
#cab{
	margin-left: 560px;
	padding-top: 50px;
}
#contTitulo{
	background-image: url("img/type.png");
	color: #F0F0F0;
	font-family: verdana;
	font-size: 130%;
	text-align: center;
	height: 500px;
}
#titulo{
	font-size: 200%;
	margin: 0px;
	padding-top: 70px;
}
#navegacion{
	height: 60px;
	margin-top: 10px;
	z-index: 5;
	box-shadow: 0px 5px 15px #999;
}
#nav1{
	width: 270px;
	height: 60px;
	display: inline-block;
	margin-right: -5px;
	text-align: center;
	background-color: #F7F7F7;
	color:  #9932CC;
	font-family: arial;
	-webkit-transition-property: background, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function:easy-out;
	cursor: pointer;
}
#nav1:hover{
	background-color: #9932CC;
	color: white;
}
#nav2{
	width: 268px;
	height: 60px;
	background-color: #F7F7F7;
	color: #9932CC;
	font-family: arial;
	display: inline-block;
	margin-right: -5px;
	text-align: center;
	-webkit-transition-property: background, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function:easy-out;
	cursor: pointer;
}
#nav2:hover{
	background-color: #9932CC;
	color: white;
}
#nav3{
	width: 268px;
	height: 60px;	
	display: inline-block;
	margin-right: -5px;
	text-align: center;
	font-family: arial;
	color: #9932CC;
	background-color: #F7F7F7;
	-webkit-transition-property: background, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function:easy-out;
	cursor: pointer;
}
#nav3:hover{
	background-color: #9932CC;
	color: white;
}
#nav4{
	width: 266px;
	height: 60px;
	background-color: #F7F7F7;
	display: inline-block;
	margin-right: -5px;
	text-align: center;
	font-family: arial;
	color: #9932CC;
	-webkit-transition-property: background, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function:easy-out;
	cursor: pointer;
}
#nav4:hover{
	background-color: #9932CC;
	color: white;
}
#nav5{
	width: 202px;
	height: 60px;
	background-color: #F7F7F7;
	position: absolute;
	text-align: center;
	font-family: arial;
	color: #9932CC;
	left: 1000px;
	top: 102px;
	-webkit-transition-property: background, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function:easy-out;
	cursor: pointer;
}
#nav5:hover{
	background-color: #9932CC;
	color: white;
}
#contCabecera{
	height: 250px;
	margin-top: 10px;
	background-image: url("img/head.jpg");
}
#titulo2{color: 
	opacity: 1;
}
#contenido{
	margin-top: 10px;
	margin-left: 140px;
	margin-right: 140px;
}
#novedades{
	width: 750px;
	height: 1000px;
}
#contenidoCostado{
	background-color: lightgrey;
	width: 304px;
	height: 1240px;
	margin-left: 765px;
	margin-top: -1000px;
}
.noticia{
	height: 400px;
	background-color: lightgray;
	display: block;
	margin-bottom: 20px;
	position: relative;
	font-family: verdana;
	color: white;
	overflow: hidden;
	cursor: pointer;
}
#redes{
	width: 303px;
	height: 120px;
}
#siguenos{
	background-color: #494949;
	width: 303px;
	height: 60px;
	color: white;
	text-align: center;
}
#siguenosTitulo{
	font-family: arial;
	margin: 0px;
	padding-top: 16px;
}
#socialImg{
	background-image: url("img/social.png");
	width: 303px;
	height: 60px;
	position: relative;
}
#facebook{
	width: 60.6px;
	height: 60px;
	position: absolute;
	display: inline-block;
}
#twitter{
	width: 60.6px;
	height: 60px;
	position: absolute;
	display: inline-block;
	left: 60.6px;	
}
#youtube{
	width: 60.6px;
	height: 60px;
	position: absolute;
	display: inline-block;
	left: 121.2px;		
}
#google{
	width: 60.6px;
	height: 60px;
	position: absolute;
	display: inline-block;
	left: 181.8px;	
}
#rss{
	width: 60.6px;
	height: 60px;
	position: absolute;
	display: inline-block;
	left: 242.4px;		
}
#twitterIn{
	display: inline-block;
	width: 303px;
}
#fb-root{
	height: 300px;
}
.imagenFondo{
	height: 400px;
	-webkit-transition-property: width,height;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function:easy-out;
}
#tituloNoticia{
	height: 150px;
	width: 750px;
	background-color: #9932CC;
	margin-top: -60px;
	position: absolute;
	display: inline-block;
	z-index: 3;
	cursor: pointer;
	-webkit-transition-property: background, margin;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function:easy-out;
}
#tituloNoticia:hover{
	margin-top: -110px;
	margin-bottom: solid 10px #9932CC;
}
.noticia:hover>#tituloNoticia{
	background-color: white;
	color: #9932CC;
	border-left: solid 10px #9932CC; 
}
#titNoticia{
	margin-left: 20px;
}
#comentNoticia{
	margin-left: 35px;
	font-size: 110%;
}
#control{
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 10px;
}
#izq{
	background-color: #F0F0F0;
	width: 532px;
	height: 80px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-property: background;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function:easy-out;
}
#izq:hover{
	background-color: lightgrey;
}
#izqImg{
	width: 64px;
	height: 64px;
	background-image: url("img/left.png");
	margin-left: 230px;
	margin-top: 10px;
}
#der{
	background-color: #F0F0F0;
	width: 532px;
	height: 80px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-property: background;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function:easy-out;
}
#der:hover{
	background-color: lightgrey;
}
#derImg{
	width: 64px;
	height: 64px;
	background-image: url("img/right.png");
	margin-left: 230px;
	margin-top: 10px;
}
#footer{
	background-color: red;
	height: 150px;
	margin-left: 140px;
	margin-right: 140px;
	background-color: lightgray;
	text-align: center;
}

#divisor{
	height: 3px;
	background-color: #9932CC;
}
#creditos{
	padding-top: 40px;
	font-size: 100%;
	color: #F0F0F0;
	font-family: arial;
}
#nombre{
	color: #9932CC;
	font-family: verdana;
}